@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&family=Roboto:wght@400;700&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fefefe;
    --black: #000000;
    --font:#82758a;
}

html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fefefe;
  
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 1rem; */
    color: #82758a;
    background-color: var(--white);
    font-size: 2.5rem;
    height: 9rem;
    /* background-color: #9BB7D4; */

}
.navbar .logo{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}
main{
    background-color: #efeeef;

}
.hero{
    /* margin-top: 3rem; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
    width: 100;
    justify-content: space-around;
    margin-left: 1rem;
    padding: .6rem;
 

}

.hero h1{
    font-size: 4rem;
}
.hero p{
    font-size: 1.8rem;
}

.btn{
    width: 22rem;
    height: 4rem;
    background-color: #2971d6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    font-size: 2rem;
    margin: 1rem;
}
.hero-img{
   background-color: #fdffff;
   /* border-radius: .6rem; */
   margin-top: .3rem;
   border: 2px solid red;
   width: 100%;
}

.hero-img img{
    width: 100%;


}
section{
    margin-top: 2rem;
}


/* ========================

        ABOUT ME 

===========================*/

.about-me{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.about-me h3{
    font-size: 2rem;
    font-weight: 100;
}

.about-me h2{
    font-size: 3rem;
}


.service{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    align-items: center;





}

.service .skills .icons{
    font-size: 3rem;
   align-items: center;

    
}

.service .skills{
margin-left: .8rem;
/* text-align: center; */
align-items: center;
margin-top: .8rem;
gap: 4rem;
}

.service h2{
    font-size: 2.3rem;
}

.task-number{
    display: flex;
    flex-direction: column;

    justify-content: center;
    /* align-items: center; */
    gap: 6rem;

    text-align: center;
    background-color: #6b3fc0;
    color: #fefefe;
    padding: .5rem;
    
}
.task-number div{
    margin-top: .8rem
}

.task-number div h2{
    font-size: 3rem;
}

.task-number div h3{
    font-size: 2rem;
}



/*==========================

PROJECTS 



============================*/

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.projects div img{
    width: 100%;
    height: 100%;
}

.new-projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
 }

@media(min-width:800px){
    nav{
        background-color: #9BB7D4;
    }

    .about-me{
        background-color: #0072B5;
        margin: 0;
    }
    .btn{
        border-radius:3rem;
        background-color: rgb(102, 8, 157);
    }
    .new-hero{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
      
        
    }

    .hero-img{
        width: 100%;
        align-items: center;
        border: 1rem solid rgb(102, 8, 157);
        border-radius: 3rem;
        padding: 1rem;
      

    }

    .hero-img img{
        width: 100%;
    }
    /* .service {
        display: flex;
        flex-direction: row;
    } */

    .new-service{
        display: flex;
    }

    .service .skills{
        display: flex;
        flex-direction: column;
    }

    .task-number{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height:20rem;
    }
.projects h2{
font-size: 2.5rem;
}

.projects p{
    font-size: 1.2rem;
}
    .new-projects{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 5rem;

    }

   

}
@media (min-width:992px){

    .hero-content{
        width: 30%;
        margin-left: 3rem;
        gap: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* align-items: center; */
    }
    .hero{
        padding: 3rem;
        /* background-color: #9BB7D4; */
    }
    .hero-img{
        width: 30%;
      
    }
    .hero-img img{
        width: 100%;
    }

  

    .new-projects{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 7;
    }
}














  


